<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl as navbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" sref="home">
        Neo Career
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: navbarCtrl.isActive('/dashboard')}">
          <a ui-sref="dashboard">Dashboard</a>
        </li>
        <li ng-class="{ active: navbarCtrl.isActive('/wishlist')}">
          <a ui-sref="wishlist">Wishlist</a>
        </li>
        <li ng-class="{ active: navbarCtrl.isActive('/progress')}">
          <a ui-sref="progress">In Progress</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="avatar-container"><img src="{{navbarCtrl.user.img}}" alt="{{navbarCtrl.user.account}}" class="avatar"></li>
        <li class="account">{{navbarCtrl.user.account}}</li>
      </ul>
    </div>
  </div>
</nav>
