// The configuration file for the application
@import '../sass/base/settings';

// All helper functions for html classes
@import '../sass/utils/helper';

// The gird and layout for pages
@import '../sass/layouts/header';

// Page specific styles
@import '../sass/pages/home';


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
