.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $brand-secondary;

  .copyright {
    margin-bottom: 0;
    padding: 1em;
    font-size: 1.2em;
    color: $white;
  }
}